@font-face {
  font-family: 'Noto Sans';
  src: url("../fonts/notosans/notosans-regular-webfont.woff2") format("woff2"), url("../fonts/notosans/notosans-regular-webfont.woff") format("woff"), url("../fonts//notosans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans';
  src: url("../fonts/notosans/notosans-bold-webfont.woff2") format("woff2"), url("../fonts/notosans/notosans-bold-webfont.woff") format("woff"), url("../fonts/notosans/notosans-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans';
  src: url("../fonts/notosans/notosans-italic-webfont.woff2") format("woff2"), url("../fonts/notosans/notosans-italic-webfont.woff") format("woff"), url("../fonts/notosans/notosans-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

/* --- */
@font-face {
  font-family: 'Noto Serif';
  src: url("../fonts/notoserif/notoserif-bold-webfont.woff2") format("woff2"), url("../fonts/notoserif/notoserif-bold-webfont.woff") format("woff"), url("../fonts/notoserif/notoserif-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Noto Serif';
  src: url("../fonts/notoserif/notoserif-italic-webfont.woff2") format("woff2"), url("../fonts/notoserif/notoserif-italic-webfont.woff") format("woff"), url("../fonts/notoserif/notoserif-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Noto Serif';
  src: url("../fonts/notoserif/notoserif-regular-webfont.woff2") format("woff2"), url("../fonts/notoserif/notoserif-regular-webfont.woff") format("woff"), url("../fonts/notoserif/notoserif-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfairdisplay/playfairdisplay-bold-webfont.woff2") format("woff2"), url("../fonts/playfairdisplay/playfairdisplay-bold-webfont.woff") format("woff"), url("../fonts/playfairdisplay/playfairdisplay-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfairdisplay/playfairdisplay-italic-webfont.woff2") format("woff2"), url("../fonts/playfairdisplay/playfairdisplay-italic-webfont.woff") format("woff"), url("../fonts/playfairdisplay/playfairdisplay-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/playfairdisplay/playfairdisplay-regular-webfont.woff2") format("woff2"), url("../fonts/playfairdisplay/playfairdisplay-regular-webfont.woff") format("woff"), url("../fonts/playfairdisplay/playfairdisplay-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* main style mixin */
/*Fonts*/
/*color*/
/*---*/
img {
  max-width: 100%;
  width: 100%; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px; }

.content-title {
  font-size: 37px;
  font-family: "Noto Sans", sans-serif;
  color: #3c3c3c;
  line-height: 1.351;
  margin: 0; }

p {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  color: #797979;
  line-height: 1.688;
  text-align: left;
  margin: 0; }

.btn {
  display: inline-block;
  margin: 0 auto;
  padding: 15px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: #3c3c3c;
  border: 1px solid #3c3c3c;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .btn:focus, .btn:hover {
    color: #3c3c3c;
    background: transparent; }

.btn-red {
  background-color: #e2574c;
  color: #ffffff;
  border: 1px solid #e2574c; }
  .btn-red:focus, .btn-red:hover {
    color: #e2574c;
    background: transparent; }

.line-right:after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  margin: 10px 0 0 auto;
  background: #3c3c3c; }

/* main style */
.main-header {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15); }
  .main-header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 90px; }

/* logo */
.main-header__wrapper__logo-block {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  .main-header__wrapper__logo-block__logo-link {
    display: block;
    max-width: 190px; }

.main-nav {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
              -ms-grid-row-align: stretch;
          align-self: stretch; }
  .main-nav__nav-list {
    padding: 0;
    margin: 0;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .main-nav__nav-list__item {
      padding: 0 0.5em;
      margin: 0;
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .main-nav__nav-list__item:focus, .main-nav__nav-list__item:hover {
        background-color: #f2f2f2; }
      .main-nav__nav-list__item__link {
        display: block;
        font-family: "Playfair Display", serif;
        font-size: 18px;
        color: #3c3c3c;
        text-decoration: none;
        line-height: 1.5;
        text-align: center; }
        .main-nav__nav-list__item__link:focus, .main-nav__nav-list__item__link:hover {
          text-decoration: underline; }

.main-header__wrapper__social-wrap {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center; }

.social-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
  .social-list--footer {
    padding: 5px 0;
    margin: 10px 0 5px; }
  .social-list__item {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 2px;
    height: 36px;
    width: 36px;
    background: #fff;
    border: 2px solid #f2f2f2;
    color: #3c3c3c;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .social-list__item:focus, .social-list__item:hover {
      border: 2px solid #3c3c3c;
      background: #3c3c3c;
      color: #ffffff; }
    .social-list__item__link {
      text-align: center;
      display: block;
      color: inherit;
      font-size: 1rem;
      line-height: 32px; }

.breadcrumbs-container {
  padding: 20px 0 5px;
  margin-top: 10px;
  margin-bottom: 5px; }

.breadcrumbs-list {
  padding: 5px 0;
  margin: 5px 0; }
  .breadcrumbs-list--center {
    text-align: center; }
  .breadcrumbs-list__item {
    list-style: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    color: #e2574c;
    line-height: 1;
    text-align: left;
    margin-right: 5px;
    font-weight: bold; }
    .breadcrumbs-list__item__link {
      color: inherit;
      text-decoration: none;
      font-weight: bold; }
    .breadcrumbs-list__item--active {
      color: #797979;
      font-weight: normal; }
    .breadcrumbs-list__item__icon {
      margin: 0 0 0 10px; }

.section-slider {
  background-image: url("../img/slider/slide-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 80vh; }

.section-offering-content {
  padding: 50px 0; }
  .section-offering-content__wrapper {
    padding: 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start; }
    .section-offering-content__wrapper__block__title {
      font-size: 36px;
      font-family: "Noto Sans", sans-serif;
      color: #3c3c3c;
      line-height: 1.2;
      font-weight: normal;
      font-style: normal;
      text-align: right;
      margin: 0;
      padding: 0; }

.left-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  text-align: right; }

.right-content {
  padding: 0 0.9em;
  text-align: left; }

/* --- */
.section-feauters {
  padding: 40px 0;
  background: #fbfbfb; }

.feauters-wrap {
  padding: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .feauters-wrap__item {
    text-align: center;
    max-width: 230px; }
    .feauters-wrap__item__icon-wrap {
      font-size: 36px;
      padding: 10px 0;
      color: #3c3c3c; }
    .feauters-wrap__item__title-feauter {
      padding: 10px 0;
      font-size: 20px;
      font-family: "Noto Sans", sans-serif;
      color: #3c3c3c;
      font-weight: bold;
      line-height: 1;
      text-align: center; }
    .feauters-wrap__item__description-feauter {
      font-size: 14px;
      font-family: "Playfair Display", serif;
      color: #797979;
      line-height: 1.5;
      text-align: center; }

.section-gallery {
  padding: 40px 0;
  background: #f6f6f6; }
  .section-gallery__title {
    font-family: "Noto Sans", sans-serif;
    font-size: 45px;
    color: #3c3c3c;
    line-height: 1.111;
    text-align: center;
    margin: 10px 0; }
  .section-gallery__description {
    max-width: 560px;
    margin: 5px auto 15px;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    color: #797979;
    line-height: 1.5;
    text-align: center; }

.gallery-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .gallery-container__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 30%;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    max-width: 360px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    overflow: hidden; }
    .gallery-container__item__thumbnail__link-image {
      display: block; }
    .gallery-container__item__title-home {
      padding: 5px;
      margin: 15px 0 5px;
      font-family: "Noto Sans", sans-serif;
      font-size: 22px;
      color: #3c3c3c;
      line-height: 1;
      text-align: center;
      font-weight: bold;
      font-style: normal; }
    .gallery-container__item__location-home {
      font-family: "Playfair Display", serif;
      font-size: 15px;
      color: #797979;
      line-height: 1.2;
      font-weight: normal;
      font-style: normal;
      text-align: center;
      padding: 0;
      margin: 5px 0; }
    .gallery-container__item__price-home {
      padding: 5px 0;
      margin: 10px 0;
      font-family: "Helvetica", sans-serif;
      font-size: 16px;
      color: #e2574c;
      line-height: 1.5;
      font-weight: bold;
      font-style: normal;
      text-align: center; }
    .gallery-container__item__description-list-home {
      padding: 5px 0;
      border-top: 1px solid #e6e6e6;
      margin: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .gallery-container__item__description-list-home__item {
        margin: 3px 5px;
        list-style: none;
        font-size: 13px;
        font-family: "Helvetica", sans-serif;
        color: #797979;
        line-height: 1;
        text-align: left; }
        .gallery-container__item__description-list-home__item:after {
          display: inline-block;
          content: '';
          height: 5px;
          width: 5px;
          margin-left: 10px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          background: #797979; }
        .gallery-container__item__description-list-home__item:last-child:after {
          display: none; }

.section-gallery__btn-wrap {
  text-align: center; }

/* agents section*/
.section-agents {
  padding: 20px 0 0;
  background: #fff; }
  .section-agents__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .section-agents__title {
    font-size: 45px;
    font-family: "Noto Sans", sans-serif;
    color: #3c3c3c;
    line-height: 1;
    font-weight: normal;
    text-align: left;
    margin: 10px 0 5px;
    padding: 0; }
    .section-agents__title:after {
      content: '';
      display: block;
      width: 100%;
      max-width: 150px;
      background: #e2574c;
      margin-top: 15px;
      height: 3px;
      -webkit-border-radius: 2px;
              border-radius: 2px; }
  .section-agents__left-block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%; }
  .section-agents__right-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 70%;
        -ms-flex: 1 1 70%;
            flex: 1 1 70%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center; }

.content-agent__img-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .content-agent__img-wrap__image {
    margin: auto 0 0 0; }

.content-agent__agent-name {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  color: #3c3c3c;
  font-weight: bold;
  line-height: 1.5;
  text-align: left; }

.content-agent__agent-contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 10px 0;
  margin: 0; }
  .content-agent__agent-contacts__item {
    list-style: none;
    margin: 5px 10px 5px 0;
    color: #797979;
    font-size: 16px; }
    .content-agent__agent-contacts__item__link {
      font-family: "Playfair Display", serif;
      font-size: 16px;
      color: #797979;
      line-height: 1.5;
      font-weight: bold;
      font-style: normal;
      text-align: left;
      text-decoration: none; }
      .content-agent__agent-contacts__item__link:focus, .content-agent__agent-contacts__item__link:hover {
        color: #e2574c; }

.content-agent__nav-list {
  padding: 0;
  margin: 10px 0 0 0; }
  .content-agent__nav-list__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 2px solid #a1a1a1;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-weight: bold;
    text-align: center; }
    .content-agent__nav-list__item:hover {
      background: #e2574c;
      border: 2px solid #e2574c;
      cursor: pointer; }
    .content-agent__nav-list__item--active {
      background: #e2574c;
      border: 2px solid #e2574c; }

.section-get-started {
  padding: 30px 0;
  background: #f3f2f2; }
  .section-get-started__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }
    .section-get-started__wrapper__content {
      -webkit-flex-basis: 70%;
          -ms-flex-preferred-size: 70%;
              flex-basis: 70%;
      font-size: 24px;
      font-family: "Noto Sans", sans-serif;
      color: #3c3c3c;
      font-weight: 300;
      line-height: 1.351;
      text-align: left; }
    .section-get-started__wrapper__btn-wrap {
      -webkit-flex-basis: 30%;
          -ms-flex-preferred-size: 30%;
              flex-basis: 30%; }

.section-clients {
  padding: 30px 0; }

.clients-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .clients-list__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 20%;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
    padding: 1em 2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .clients-list__item__content {
      font-size: 28px;
      font-family: "Noto Sans", sans-serif;
      color: #3c3c3c;
      line-height: 1.2;
      text-align: right; }
    .clients-list__item__logo-client {
      margin: auto;
      max-width: 100%;
      width: 100%; }

.section-our-team {
  padding: 40px 0; }
  .section-our-team__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .section-our-team__wrapper__title-section {
      font-family: "Noto Sans", sans-serif;
      font-size: 37px;
      color: #242424;
      line-height: 1.2;
      font-weight: normal;
      text-align: left; }
    .section-our-team__wrapper__additional-block__link {
      font-size: 20px;
      font-family: "Playfair Display", serif;
      color: #e2574c;
      text-decoration: underline;
      font-weight: normal;
      line-height: 1;
      text-align: left; }

.our-team-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .our-team-block__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #e6e6e6; }
    .our-team-block__item__avatar-block {
      background: #f6f7f7; }
    .our-team-block__item__info-person {
      padding: 15px 0.5em; }
      .our-team-block__item__info-person__name-person {
        font-size: 20px;
        font-family: "Noto Sans", sans-serif;
        color: black;
        line-height: 1;
        text-align: center;
        margin: 0;
        padding: 5px 0; }
      .our-team-block__item__info-person__position-person {
        font-size: 14px;
        font-family: "Playfair Display", serif;
        color: #797979;
        line-height: 1.5;
        text-align: center;
        margin: 0;
        padding: 3px 0; }

/* about - section section-about*/
.section-about {
  padding: 5px 0 15px; }
  .section-about__title-section {
    font-size: 36px;
    font-family: "Noto Sans", sans-serif;
    color: #3c3c3c;
    line-height: 1.2;
    text-align: left;
    font-weight: normal;
    margin: 5px 0 15px;
    padding: 5px 0; }
  .section-about__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
    .section-about__wrapper__left-block {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-right: 10px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%; }
    .section-about__wrapper__right-block {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-left: 10px; }

.content-about-us p {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  color: #797979;
  line-height: 1.5;
  text-align: left; }

/* page property */
.section-catalog__title-section {
  padding: 5px 0;
  margin: 10px 0 15px;
  font-size: 36px;
  font-family: "Noto Sans", sans-serif;
  color: #3c3c3c;
  line-height: 1.111;
  text-align: center;
  font-weight: normal; }

.catalog-container {
  padding: 0 0 5px; }
  .catalog-container__wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto; }
    .catalog-container__wrapper__nav {
      margin: 5px 0;
      padding: 20px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .catalog-container__wrapper__nav__item {
        padding: 5px 10px;
        margin: 5px;
        font-size: 16px;
        font-family: "Noto Sans", sans-serif;
        color: #3c3c3c;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        .catalog-container__wrapper__nav__item:focus, .catalog-container__wrapper__nav__item:hover {
          color: #797979;
          border-bottom: 2px solid #e2574c;
          cursor: pointer; }
    .catalog-container__wrapper__pagination-wrap {
      padding: 20px 0 10px; }

.catalog-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .catalog-gallery__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 10px 15px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 20%;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
    max-width: 570px;
    background: #fff;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    overflow: hidden; }
    .catalog-gallery__item:nth-child(-n+2) {
      -webkit-flex-basis: 40%;
          -ms-flex-preferred-size: 40%;
              flex-basis: 40%; }
    .catalog-gallery__item__thumbnail__link-image {
      display: block; }
    .catalog-gallery__item__title-home {
      padding: 5px;
      margin: 15px 0 5px;
      font-family: "Noto Sans", sans-serif;
      font-size: 22px;
      color: #3c3c3c;
      line-height: 1;
      text-align: center;
      font-weight: bold;
      font-style: normal; }
    .catalog-gallery__item__location-home {
      font-family: "Playfair Display", serif;
      font-size: 15px;
      color: #797979;
      line-height: 1.2;
      font-weight: normal;
      font-style: normal;
      text-align: center;
      padding: 0;
      margin: 5px 0; }
    .catalog-gallery__item__price-home {
      padding: 5px 0;
      margin: 10px 0;
      font-family: "Helvetica", sans-serif;
      font-size: 16px;
      color: #e2574c;
      line-height: 1.5;
      font-weight: bold;
      font-style: normal;
      text-align: center; }
    .catalog-gallery__item__description-list-home {
      padding: 5px 0;
      border-top: 1px solid #e6e6e6;
      margin: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .catalog-gallery__item__description-list-home__item {
        margin: 3px 5px;
        list-style: none;
        font-size: 13px;
        font-family: "Helvetica", sans-serif;
        color: #797979;
        line-height: 1;
        text-align: left; }
        .catalog-gallery__item__description-list-home__item:after {
          display: inline-block;
          content: '';
          height: 5px;
          width: 5px;
          margin-left: 10px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          background: #797979; }
        .catalog-gallery__item__description-list-home__item:last-child:after {
          display: none; }

/**/
/* Blog page */
.content-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main-content {
  padding-top: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 2%; }

.sidebar-container {
  padding-top: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 330px;
      -ms-flex: 0 0 330px;
          flex: 0 0 330px;
  margin-left: 2%; }

/* list posts */
.list-post-block__post-container {
  margin: 0 0 50px;
  padding: 20px 0;
  border-bottom: 1px solid #797979; }
  .list-post-block__post-container:first-child {
    padding-top: 0; }
  .list-post-block__post-container__title-post {
    margin-bottom: 15px; }
    .list-post-block__post-container__title-post__link {
      font-size: 36px;
      font-family: "Noto Sans", sans-serif;
      color: #3c3c3c;
      line-height: 1.111;
      font-weight: normal;
      font-style: normal;
      text-align: left;
      padding: 0;
      margin: 0;
      text-decoration: none;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .list-post-block__post-container__title-post__link:focus, .list-post-block__post-container__title-post__link:hover {
        text-decoration: underline; }
  .list-post-block__post-container__thumbnail-post__image {
    display: block;
    max-width: 100%;
    width: 100%; }
  .list-post-block__post-container__content-post {
    padding: 20px 0 10px;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    color: #797979;
    line-height: 1;
    text-align: left; }
    .list-post-block__post-container__content-post P {
      font-family: "Playfair Display", serif;
      font-size: 16px;
      color: #797979;
      line-height: 1.5;
      text-align: left; }
  .list-post-block__post-container__btn-wrap {
    padding: 15px 0 15px; }

/* blog-post styles*/
.post-container__title-post {
  font-size: 36px;
  font-family: "Noto Sans", sans-serif;
  color: #3c3c3c;
  line-height: 1.2;
  text-align: left;
  margin: 0;
  padding: 0; }

.post-container__description-content-post {
  padding: 20px 0; }

.post-container__info-post {
  margin: 10px 0;
  padding: 20px 0;
  border-top: 2px solid #f0f4f5;
  border-bottom: 2px solid #f0f4f5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  color: #797979;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  text-align: left; }
  .post-container__info-post__date-post {
    margin-right: 10px; }
    .post-container__info-post__date-post:after {
      display: inline-block;
      font-family: "Noto Sans", sans-serif;
      content: ' / ';
      font-weight: bold;
      margin-left: 10px; }
  .post-container__info-post__author-post {
    margin-right: 10px; }
    .post-container__info-post__author-post:after {
      display: inline-block;
      font-family: "Noto Sans", sans-serif;
      content: ' / ';
      font-weight: bold;
      margin-left: 10px; }
  .post-container__info-post__comments-number {
    margin-right: 10px;
    color: #e2574c; }

/* author-post block */
.author-post-block {
  background: #f6f6f6;
  padding: 25px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
  .author-post-block__avatar-author {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 150px;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .author-post-block__avatar-author__wrapper-image {
      width: 100px;
      height: 100px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      overflow: hidden; }
      .author-post-block__avatar-author__wrapper-image__image {
        max-width: 100%;
        width: 100%; }
  .author-post-block__info-author__name-author {
    font-family: "Noto Sans", sans-serif;
    font-size: 24px;
    color: #242424;
    line-height: 1.2;
    text-transform: capitalize;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
    text-align: left; }
  .author-post-block__info-author__description-author {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #797979;
    line-height: 1.5;
    font-weight: normal;
    text-align: left; }
  .author-post-block__info-author__more-post {
    padding: 10px 0 5px;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #3c3c3c;
    font-weight: bold;
    text-transform: uppercase; }
    .author-post-block__info-author__more-post__link {
      font-family: "Noto Sans", sans-serif;
      font-size: 12px;
      color: #2a8da6;
      text-decoration: none; }

.sidebar-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .sidebar-container__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 10px 10px;
    margin: 5px 0 20px; }
    .sidebar-container__item__title {
      font-size: 20px;
      font-family: "Noto Sans", sans-serif;
      color: #3c3c3c;
      line-height: 1.5;
      text-align: left;
      font-weight: normal;
      font-style: normal;
      padding: 0 0 5px;
      margin-bottom: 10px; }

/* sidebar elements */
/* categor */
.sidebar-categories-list {
  padding: 0;
  margin: 0; }
  .sidebar-categories-list__item {
    list-style: none;
    padding: 5px 0 10px; }
    .sidebar-categories-list__item__link {
      font-size: 16px;
      font-family: "Noto Sans", sans-serif;
      color: #797979;
      line-height: 1;
      text-align: left;
      text-decoration: none;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .sidebar-categories-list__item__link:focus, .sidebar-categories-list__item__link:hover {
        text-decoration: underline; }

/* sidebar-archives */
.sidebar-archives-list {
  padding: 0;
  margin: 0; }
  .sidebar-archives-list__item {
    list-style: none;
    padding: 5px 0 10px; }
    .sidebar-archives-list__item__link {
      font-size: 16px;
      font-family: "Noto Sans", sans-serif;
      color: #797979;
      line-height: 1;
      text-align: left;
      text-decoration: none;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .sidebar-archives-list__item__link:focus, .sidebar-archives-list__item__link:hover {
        text-decoration: underline; }

/* recent post */
.recent-post-list__item {
  padding: 0 0 10px;
  margin-bottom: 25px; }
  .recent-post-list__item__title-post__link {
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    color: #3c3c3c;
    line-height: 1.5;
    text-align: left;
    font-weight: bold;
    text-decoration: none; }
    .recent-post-list__item__title-post__link:focus, .recent-post-list__item__title-post__link:hover {
      text-decoration: underline; }
  .recent-post-list__item__text-post {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #797979;
    line-height: 1.5;
    text-align: left; }
  .recent-post-list__item__date-post {
    padding: 10px 0;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    color: #797979;
    font-weight: bold;
    line-height: 1;
    text-align: left; }

/*---*/
.section-get-subscribe {
  padding: 20px 0; }
  .section-get-subscribe__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .section-get-subscribe__wrapper__text {
      font-size: 24px;
      font-family: "Noto Sans", sans-serif;
      color: #3c3c3c;
      line-height: 1.2;
      text-align: left; }

.form-get-subscribe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-get-subscribe__input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 5px;
    margin-right: 5px;
    min-width: 260px;
    height: 50px;
    border: 2px solid #e6e6e6;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: white; }

.pagination-list {
  margin: 10px 0 25px;
  padding: 5px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .pagination-list--left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .pagination-list--center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .pagination-list--right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .pagination-list__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    font-family: "Noto Sans", sans-serif;
    background-color: #e2574c;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    height: 50px;
    list-style: none;
    margin: 5px 10px;
    line-height: 50px;
    border: 1px solid #e6e6e6;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; }
    .pagination-list__item:first-child {
      margin-left: 0; }
    .pagination-list__item:last-child {
      margin-right: 0; }
    .pagination-list__item__link {
      text-decoration: none;
      color: inherit;
      padding: 0 20px;
      line-height: 50px; }
    .pagination-list__item--prev {
      width: 110px; }
    .pagination-list__item--next {
      width: 110px; }
    .pagination-list__item--active {
      padding: 0 20px;
      color: #3c3c3c;
      line-height: 50px;
      background-color: #fafafa; }
    .pagination-list__item:hover {
      cursor: pointer;
      color: #3c3c3c;
      background-color: #fafafa; }

.main-footer {
  padding: 50px 0;
  background: #303030; }
  .main-footer__wrapper {
    padding: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }

.footer-logo {
  max-width: 190px; }

.title-footer {
  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
  color: white;
  line-height: 1;
  font-weight: normal;
  text-align: left;
  margin: 5px 0;
  padding: 10px 0; }

.footer-list {
  padding: 5px 0;
  margin: 10px 0 5px; }
  .footer-list__item {
    list-style: none;
    margin: 10px 0; }
    .footer-list__item__link {
      font-family: "Playfair Display", serif;
      font-size: 15px;
      color: white;
      line-height: 1;
      text-align: left;
      font-weight: normal;
      text-decoration: none; }
      .footer-list__item__link:focus, .footer-list__item__link:hover {
        text-decoration: underline; }

.footer-contacts {
  font-family: "Playfair Display", serif;
  font-size: 15px;
  color: #ffffff;
  line-height: 1.533;
  text-align: left; }
  .footer-contacts p {
    color: #ffffff; }
  .footer-contacts__city {
    font-size: 16px; }
  .footer-contacts__link {
    text-decoration: none; }
    .footer-contacts__link:focus, .footer-contacts__link:hover {
      text-decoration: underline; }
    .footer-contacts__link--phone {
      color: #ffffff; }
    .footer-contacts__link--email {
      color: #e2574c; }
