doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title RealHome index
        meta(name='description', content='')
        meta(name='robots', content='noindex, nofollow')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='theme-color', content='#2f8eaa')
        link(rel='stylesheet', href='css/libs.min.css')
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='css/media.css')
    body
        include parts/header

        section.section-slider
            .section-slider__content-block

        section.section-offering-content
            .section-offering-content__wrapper.container
                .section-offering-content__wrapper__block.left-content
                    h2.section-offering-content__wrapper__block__title.line-right
                        | We are offering the <br> Best Estate Deals
                .section-offering-content__wrapper__block.right-content
                    p
                        | Quisque diam lorem interdum vitaapibus ac
                        | scelerisque vitae pede. Donec eget tellus
                        | non erat lacinia fertum. Donec in velit vel ipsum auctovinar.
                        | Proin umcorper urna et felisstibulum iaculis lacinia est.
                        | Proin dictum elem entum velit fusce euismod. Aenean commodo
                        | ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet,
                        | consec tetuer adipis elit, aliquam eget nibh etlibura. Lorem
                        | ipsum dolor sitamet, consetetur sadipscing elitr, sed diam
                        | nonumy eirmod tempor invidunt ut labore et.

        include parts/feauters

        section.section-gallery
            .container
                h2.section-gallery__title
                    | Featured Properties
                .section-gallery__description
                    | Quisque diam lorem interdum vitaapibus
                    | vitae pede. Donec eget tellus non erat lacinia
                    | fertum. Donec in velit vel ipsum auctovinar.
                .gallery-container
                    .gallery-container__item
                        .gallery-container__item__thumbnail
                            .gallery-container__item__thumbnail__link-image
                                img(src="img/image/image-1.jpg").gallery-container__item__thumbnail__link-image__image
                        .gallery-container__item__title-home
                            | 1450 Cloudcroft Drop
                        .gallery-container__item__location-home
                            | Illinois / Chicago
                        .gallery-container__item__price-home
                            | $250,000
                        ul.gallery-container__item__description-list-home
                            li.gallery-container__item__description-list-home__item
                                | 3400м
                            li.gallery-container__item__description-list-home__item
                                | 2 Badrooms
                            li.gallery-container__item__description-list-home__item
                                | 1 Bathroom
                    .gallery-container__item
                        .gallery-container__item__thumbnail
                            .gallery-container__item__thumbnail__link-image
                                img(src="img/image/image-2.jpg").gallery-container__item__thumbnail__link-image__image
                        .gallery-container__item__title-home
                            | 1450 Cloudcroft Drop
                        .gallery-container__item__location-home
                            | Illinois / Chicago
                        .gallery-container__item__price-home
                            | $250,000
                        ul.gallery-container__item__description-list-home
                            li.gallery-container__item__description-list-home__item
                                | 3400м
                            li.gallery-container__item__description-list-home__item
                                | 2 Badrooms
                            li.gallery-container__item__description-list-home__item
                                | 1 Bathroom
                    .gallery-container__item
                        .gallery-container__item__thumbnail
                            .gallery-container__item__thumbnail__link-image
                                img(src="img/image/image-3.jpg").gallery-container__item__thumbnail__link-image__image
                        .gallery-container__item__title-home
                            | 1450 Cloudcroft Drop
                        .gallery-container__item__location-home
                            | Illinois / Chicago
                        .gallery-container__item__price-home
                            | $250,000
                        ul.gallery-container__item__description-list-home
                            li.gallery-container__item__description-list-home__item
                                | 3400м
                            li.gallery-container__item__description-list-home__item
                                | 2 Badrooms
                            li.gallery-container__item__description-list-home__item
                                | 1 Bathroom
                    .gallery-container__item
                        .gallery-container__item__thumbnail
                            .gallery-container__item__thumbnail__link-image
                                img(src="img/image/image-4.jpg").gallery-container__item__thumbnail__link-image__image
                        .gallery-container__item__title-home
                            | 1450 Cloudcroft Drop
                        .gallery-container__item__location-home
                            | Illinois / Chicago
                        .gallery-container__item__price-home
                            | $250,000
                        ul.gallery-container__item__description-list-home
                            li.gallery-container__item__description-list-home__item
                                | 3400м
                            li.gallery-container__item__description-list-home__item
                                | 2 Badrooms
                            li.gallery-container__item__description-list-home__item
                                | 1 Bathroom
                    .gallery-container__item
                        .gallery-container__item__thumbnail
                            .gallery-container__item__thumbnail__link-image
                                img(src="img/image/image-5.jpg").gallery-container__item__thumbnail__link-image__image
                        .gallery-container__item__title-home
                            | 1450 Cloudcroft Drop
                        .gallery-container__item__location-home
                            | Illinois / Chicago
                        .gallery-container__item__price-home
                            | $250,000
                        ul.gallery-container__item__description-list-home
                            li.gallery-container__item__description-list-home__item
                                | 3400м
                            li.gallery-container__item__description-list-home__item
                                | 2 Badrooms
                            li.gallery-container__item__description-list-home__item
                                | 1 Bathroom
                    .gallery-container__item
                        .gallery-container__item__thumbnail
                            .gallery-container__item__thumbnail__link-image
                                img(src="img/image/image-6.jpg").gallery-container__item__thumbnail__link-image__image
                        .gallery-container__item__title-home
                            | 1450 Cloudcroft Drop
                        .gallery-container__item__location-home
                            | Illinois / Chicago
                        .gallery-container__item__price-home
                            | $250,000
                        ul.gallery-container__item__description-list-home
                            li.gallery-container__item__description-list-home__item
                                | 3400м
                            li.gallery-container__item__description-list-home__item
                                | 2 Badrooms
                            li.gallery-container__item__description-list-home__item
                                | 1 Bathroom
                    .gallery-container__item
                        .gallery-container__item__thumbnail
                            .gallery-container__item__thumbnail__link-image
                                img(src="img/image/image-7.jpg").gallery-container__item__thumbnail__link-image__image
                        .gallery-container__item__title-home
                            | 1450 Cloudcroft Drop
                        .gallery-container__item__location-home
                            | Illinois / Chicago
                        .gallery-container__item__price-home
                            | $250,000
                        ul.gallery-container__item__description-list-home
                            li.gallery-container__item__description-list-home__item
                                | 3400м
                            li.gallery-container__item__description-list-home__item
                                | 2 Badrooms
                            li.gallery-container__item__description-list-home__item
                                | 1 Bathroom
                    .gallery-container__item
                        .gallery-container__item__thumbnail
                            .gallery-container__item__thumbnail__link-image
                                img(src="img/image/image-8.jpg").gallery-container__item__thumbnail__link-image__image
                        .gallery-container__item__title-home
                            | 1450 Cloudcroft Drop
                        .gallery-container__item__location-home
                            | Illinois / Chicago
                        .gallery-container__item__price-home
                            | $250,000
                        ul.gallery-container__item__description-list-home
                            li.gallery-container__item__description-list-home__item
                                | 3400м
                            li.gallery-container__item__description-list-home__item
                                | 2 Badrooms
                            li.gallery-container__item__description-list-home__item
                                | 1 Bathroom
                    .gallery-container__item
                        .gallery-container__item__thumbnail
                            .gallery-container__item__thumbnail__link-image
                                img(src="img/image/image-9.jpg").gallery-container__item__thumbnail__link-image__image
                        .gallery-container__item__title-home
                            | 1450 Cloudcroft Drop
                        .gallery-container__item__location-home
                            | Illinois / Chicago
                        .gallery-container__item__price-home
                            | $250,000
                        ul.gallery-container__item__description-list-home
                            li.gallery-container__item__description-list-home__item
                                | 3400м
                            li.gallery-container__item__description-list-home__item
                                | 2 Badrooms
                            li.gallery-container__item__description-list-home__item
                                | 1 Bathroom
                .section-gallery__btn-wrap
                    a(href="#").btn.btn-red
                        | all properties

        section.section-agents
            .section-agents__wrapper.container
                .section-agents__left-block
                    .content-agent__img-wrap
                        img(src="img/people/people-1.jpg").content-agent__img-wrap__image
                .section-agents__right-block
                    h2.section-agents__title
                        | Our <b>Agents</b>
                    .content-agent#agents-container
                        h3.content-agent__agent-name
                            | John Dow
                        p.content-agent__description-agent
                            | Lorem ipsum dolor sit amet, consectetuer
                            | adipiscing elit, sed diam nonummy nibh euismod
                            | tincidunt ut laoreet dolore magna aliquam erat
                            | volutpat. Ut wisi enim ad minim veniam, quis nostrud
                            | exerci tation ullamcorper suscipit lobortis nisl ut
                            | aliquip ex ea commodo consequat. Duis autem vel eum
                            | iriure dolor in hendrerit in vulputate velit esse molestie
                            | consequat, raesent luptatum zzril delenit augue duis
                            | dolore te feugait nulla nonummy nibh euismod
                            | tincidunt facilisi.
                        ul.content-agent__agent-contacts
                            li.content-agent__agent-contacts__item
                                i.fa.fa-phone
                                a(href="#").content-agent__agent-contacts__item__link
                                    | &nbsp; +7(123)456-78-99
                            li.content-agent__agent-contacts__item
                                i.fa.fa-envelope
                                a(href="#").content-agent__agent-contacts__item__link
                                    | &nbsp; lisa.gerrard@realhome.com
                    ul.content-agent__nav-list#agents-navigation
                        li.content-agent__nav-list__item.content-agent__nav-list__item--active
                        li.content-agent__nav-list__item
                        li.content-agent__nav-list__item
        include parts/get-started

        section.section-clients
            .container
                .clients-list
                    .clients-list__item
                        .clients-list__item__content
                            | Our <b>Clients</b>
                    .clients-list__item
                        img(src="img/clients/client-1.png").clients-list__item__logo-client
                    .clients-list__item
                        img(src="img/clients/client-2.png").clients-list__item__logo-client
                    .clients-list__item
                        img(src="img/clients/client-3.png").clients-list__item__logo-client
                    .clients-list__item
                        img(src="img/clients/client-4.png").clients-list__item__logo-client
        include parts/footer
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
