doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title RealHome Property
        meta(name='description', content='')
        meta(name='robots', content='noindex, nofollow')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='theme-color', content='#2f8eaa')
        link(rel='stylesheet', href='css/libs.min.css')
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='css/media.css')
    body
        include parts/header

        .breadcrumbs-container.container
            ul.breadcrumbs-list.breadcrumbs-list--center
                li.breadcrumbs-list__item
                    a(href="#").breadcrumbs-list__item__link
                        | Home
                    i.fa.fa-angle-right.breadcrumbs-list__item__icon
                li.breadcrumbs-list__item.breadcrumbs-list__item--active
                    | Property

        .section-catalog
            .section-catalog__title-section
                | Property <b>Catalog</b>
            .catalog-container
                .catalog-container__wrapper
                    .catalog-container__wrapper__nav
                        .catalog-container__wrapper__nav__item
                            | Chicago
                        .catalog-container__wrapper__nav__item
                            | Kansas City
                        .catalog-container__wrapper__nav__item
                            | Denver
                        .catalog-container__wrapper__nav__item
                            | New-York
                        .catalog-container__wrapper__nav__item
                            | London
                    .catalog-container__wrapper__catalog-block.catalog-gallery
                        .catalog-gallery__item
                            .catalog-gallery__item__thumbnail
                                .catalog-gallery__item__thumbnail__link-image
                                    img(src="img/image/image-1.jpg").gallery-container__item__thumbnail__link-image__image
                            .catalog-gallery__item__title-home
                                | 1450 Cloudcroft Drop
                            .catalog-gallery__item__location-home
                                | Illinois / Chicago
                            .catalog-gallery__item__price-home
                                | $250,000
                            ul.catalog-gallery__item__description-list-home
                                li.catalog-gallery__item__description-list-home__item
                                    | 3400м
                                li.catalog-gallery__item__description-list-home__item
                                    | 2 Badrooms
                                li.catalog-gallery__item__description-list-home__item
                                    | 1 Bathroom
                        .catalog-gallery__item
                            .catalog-gallery__item__thumbnail
                                .catalog-gallery__item__thumbnail__link-image
                                    img(src="img/image/image-2.jpg").gallery-container__item__thumbnail__link-image__image
                            .catalog-gallery__item__title-home
                                | 1450 Cloudcroft Drop
                            .catalog-gallery__item__location-home
                                | Illinois / Chicago
                            .catalog-gallery__item__price-home
                                | $250,000
                            ul.catalog-gallery__item__description-list-home
                                li.catalog-gallery__item__description-list-home__item
                                    | 3400м
                                li.catalog-gallery__item__description-list-home__item
                                    | 2 Badrooms
                                li.catalog-gallery__item__description-list-home__item
                                    | 1 Bathroom
                        .catalog-gallery__item
                            .catalog-gallery__item__thumbnail
                                .catalog-gallery__item__thumbnail__link-image
                                    img(src="img/image/image-3.jpg").gallery-container__item__thumbnail__link-image__image
                            .catalog-gallery__item__title-home
                                | 1450 Cloudcroft Drop
                            .catalog-gallery__item__location-home
                                | Illinois / Chicago
                            .catalog-gallery__item__price-home
                                | $250,000
                            ul.catalog-gallery__item__description-list-home
                                li.catalog-gallery__item__description-list-home__item
                                    | 3400м
                                li.catalog-gallery__item__description-list-home__item
                                    | 2 Badrooms
                                li.catalog-gallery__item__description-list-home__item
                                    | 1 Bathroom
                        .catalog-gallery__item
                            .catalog-gallery__item__thumbnail
                                .catalog-gallery__item__thumbnail__link-image
                                    img(src="img/image/image-4.jpg").gallery-container__item__thumbnail__link-image__image
                            .catalog-gallery__item__title-home
                                | 1450 Cloudcroft Drop
                            .catalog-gallery__item__location-home
                                | Illinois / Chicago
                            .catalog-gallery__item__price-home
                                | $250,000
                            ul.catalog-gallery__item__description-list-home
                                li.catalog-gallery__item__description-list-home__item
                                    | 3400м
                                li.catalog-gallery__item__description-list-home__item
                                    | 2 Badrooms
                                li.catalog-gallery__item__description-list-home__item
                                    | 1 Bathroom
                        .catalog-gallery__item
                            .catalog-gallery__item__thumbnail
                                .catalog-gallery__item__thumbnail__link-image
                                    img(src="img/image/image-5.jpg").gallery-container__item__thumbnail__link-image__image
                            .catalog-gallery__item__title-home
                                | 1450 Cloudcroft Drop
                            .catalog-gallery__item__location-home
                                | Illinois / Chicago
                            .catalog-gallery__item__price-home
                                | $250,000
                            ul.catalog-gallery__item__description-list-home
                                li.catalog-gallery__item__description-list-home__item
                                    | 3400м
                                li.catalog-gallery__item__description-list-home__item
                                    | 2 Badrooms
                                li.catalog-gallery__item__description-list-home__item
                                    | 1 Bathroom
                        .catalog-gallery__item
                            .catalog-gallery__item__thumbnail
                                .catalog-gallery__item__thumbnail__link-image
                                    img(src="img/image/image-6.jpg").gallery-container__item__thumbnail__link-image__image
                            .catalog-gallery__item__title-home
                                | 1450 Cloudcroft Drop
                            .catalog-gallery__item__location-home
                                | Illinois / Chicago
                            .catalog-gallery__item__price-home
                                | $250,000
                            ul.catalog-gallery__item__description-list-home
                                li.catalog-gallery__item__description-list-home__item
                                    | 3400м
                                li.catalog-gallery__item__description-list-home__item
                                    | 2 Badrooms
                                li.catalog-gallery__item__description-list-home__item
                                    | 1 Bathroom
                        .catalog-gallery__item
                            .catalog-gallery__item__thumbnail
                                .catalog-gallery__item__thumbnail__link-image
                                    img(src="img/image/image-7.jpg").gallery-container__item__thumbnail__link-image__image
                            .catalog-gallery__item__title-home
                                | 1450 Cloudcroft Drop
                            .catalog-gallery__item__location-home
                                | Illinois / Chicago
                            .catalog-gallery__item__price-home
                                | $250,000
                            ul.catalog-gallery__item__description-list-home
                                li.catalog-gallery__item__description-list-home__item
                                    | 3400м
                                li.catalog-gallery__item__description-list-home__item
                                    | 2 Badrooms
                                li.catalog-gallery__item__description-list-home__item
                                    | 1 Bathroom
                        .catalog-gallery__item
                            .catalog-gallery__item__thumbnail
                                .catalog-gallery__item__thumbnail__link-image
                                    img(src="img/image/image-8.jpg").gallery-container__item__thumbnail__link-image__image
                            .catalog-gallery__item__title-home
                                | 1450 Cloudcroft Drop
                            .catalog-gallery__item__location-home
                                | Illinois / Chicago
                            .catalog-gallery__item__price-home
                                | $250,000
                            ul.catalog-gallery__item__description-list-home
                                li.catalog-gallery__item__description-list-home__item
                                    | 3400м
                                li.catalog-gallery__item__description-list-home__item
                                    | 2 Badrooms
                                li.catalog-gallery__item__description-list-home__item
                                    | 1 Bathroom
                        .catalog-gallery__item
                            .catalog-gallery__item__thumbnail
                                .catalog-gallery__item__thumbnail__link-image
                                    img(src="img/image/image-9.jpg").gallery-container__item__thumbnail__link-image__image
                            .catalog-gallery__item__title-home
                                | 1450 Cloudcroft Drop
                            .catalog-gallery__item__location-home
                                | Illinois / Chicago
                            .catalog-gallery__item__price-home
                                | $250,000
                            ul.catalog-gallery__item__description-list-home
                                li.catalog-gallery__item__description-list-home__item
                                    | 3400м
                                li.catalog-gallery__item__description-list-home__item
                                    | 2 Badrooms
                                li.catalog-gallery__item__description-list-home__item
                                    | 1 Bathroom
                    .catalog-container__wrapper__pagination-wrap
                        ul.pagination-list.pagination-list--center
                            li.pagination-list__item.pagination-list__item--prev
                                a(href="#").pagination-list__item__link
                                    | Previous
                            li.pagination-list__item
                                a(href="#").pagination-list__item__link
                                    | 1
                            li.pagination-list__item.pagination-list__item--active
                                | 2
                            li.pagination-list__item
                                a(href="#").pagination-list__item__link
                                    | 3
                            li.pagination-list__item.pagination-list__item--next
                                a(href="#").pagination-list__item__link
                                    | Next

        include parts/footer