section.section-feauters
    .container
        .feauters-wrap
            .feauters-wrap__item
                .feauters-wrap__item__icon-wrap
                    i.fa.fa-globe.feauters-wrap__item__icon-wrap__icon
                .feauters-wrap__item__title-feauter
                    | Whole World
                .feauters-wrap__item__description-feauter
                    | Proin umcorper urna et felisstibulum iaculis
                    | lacinia est. Proin dictum elem entum velit fusce
                    | euismod. Aenean commodo ligula eget dolor.
            .feauters-wrap__item
                .feauters-wrap__item__icon-wrap
                    i.fa.fa-briefcase.feauters-wrap__item__icon-wrap__icon
                .feauters-wrap__item__title-feauter
                    | Confidentially
                .feauters-wrap__item__description-feauter
                    | Proin umcorper urna et felisstibulum iaculis
                    | lacinia est. Proin dictum elem entum velit fusce
                    | euismod. Aenean commodo ligula eget dolor.
            .feauters-wrap__item
                .feauters-wrap__item__icon-wrap
                    i.fa.fa-picture-o.feauters-wrap__item__icon-wrap__icon
                .feauters-wrap__item__title-feauter
                    | Good Previews
                .feauters-wrap__item__description-feauter
                    | Proin umcorper urna et felisstibulum iaculis
                    | lacinia est. Proin dictum elem entum velit fusce
                    | euismod. Aenean commodo ligula eget dolor.
            .feauters-wrap__item
                .feauters-wrap__item__icon-wrap
                    i.fa.fa-print.feauters-wrap__item__icon-wrap__icon
                .feauters-wrap__item__title-feauter
                    | Best Work
                .feauters-wrap__item__description-feauter
                    | Proin umcorper urna et felisstibulum iaculis
                    | lacinia est. Proin dictum elem entum velit fusce
                    | euismod. Aenean commodo ligula eget dolor.