footer.main-footer
    .main-footer__wrapper.container
        .main-footer__wrapper__footer-column
            .footer-logo
                img(src="img/logo-footer.svg").footer-logo__image
            ul.social-list.social-list--footer
                li.social-list__item
                    a(href="#").social-list__item__link
                        i.fa.fa-vk.social-list__item__link__icon
                li.social-list__item
                    a(href="#").social-list__item__link
                        i.fa.fa-facebook.social-list__item__link__icon
                li.social-list__item
                    a(href="#").social-list__item__link
                        i.fa.fa-instagram.social-list__item__link__icon
                li.social-list__item
                    a(href="#").social-list__item__link
                        i.fa.fa-google-plus.social-list__item__link__icon

        .main-footer__wrapper__footer-column
            h3.title-footer
                | Navigation
            ul.footer-list
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Home
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | About us
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Property
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Gallery
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Our blog
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Contacts
        .main-footer__wrapper__footer-column
            h3.title-footer
                | For clients
            ul.footer-list
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Sign in
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Forum
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Promotions
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | News

        .main-footer__wrapper__footer-column
            h3.title-footer
                | Contacts us
            .footer-contacts
                p.footer-contacts__city
                    | 240 central park, London OR 10019
                p
                    | Freephone:
                    a(href="#").footer-contacts__link.footer-contacts__link--phone
                        |  +7 800 595 64 45
                p
                    | Telephone:
                    a(href="#").footer-contacts__link.footer-contacts__link--phone
                        |  +7 885 423 65 80
                p
                    | Fax:
                    a(href="#").footer-contacts__link.footer-contacts__link--phone
                        |  +7 865 245 38 45
                p
                    a(href="#").footer-contacts__link.footer-contacts__link--email
                        | info@realhome.com