footer.main-footer
    .main-footer__wrapper
        .main-footer__wrapper__footer-column
            .footer-logo
                img(src="img/logo-footer.png").footer-logo__image
            ul.social-list
                li.social-list__item
                    a(href="#").social-list__item__link
                        i.fa.fa-vk.social-list__item__link__icon
                li.social-list__item
                    a(href="#").social-list__item__link
                        i.fa.fa-facebook.social-list__item__link__icon
                li.social-list__item
                    a(href="#").social-list__item__link
                        i.fa.fa-instagram.social-list__item__link__icon
                li.social-list__item
                    a(href="#").social-list__item__link
                        i.fa.fa-google-plus.social-list__item__link__icon

        .main-footer__wrapper__footer-column
            h3.title-footer
                | Navigation
            ul.footer-list
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Home
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | About us
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Property
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Gallery
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Our blog
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Contacts
        .main-footer__wrapper__footer-column
            h3.title-footer
                | For clients
            ul.footer-list
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Sign in
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Forum
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | Promotions
                li.footer-list__item
                    a(href="#").footer-list__item__link
                        | News

        .main-footer__wrapper__footer-column
            h3.title-footer
                | Contacts us
            .footer-contacts
                | 240 central park, London OR 10019