section.section-get-subscribe
    .section-get-subscribe__wrapper
        .section-get-subscribe__wrapper__content
            .section-get-subscribe__wrapper__content__text
                | Get Started on Buying Your <b>New Home</b>
            .section-get-subscribe__wrapper__content__form
                form.form-get-subscribe
                    input(type="text", placeholder="Your email...").form-get-subscribe__input
                    input(type="submit", value="subscribe").form-get-subscribe__btn.btn.btn-red