section.section-get-started
    .section-get-started__wrapper.container
        .section-get-started__wrapper__content
            | Get Started on Buying Your <b>New Home</b>
        .section-get-started__wrapper__btn-wrap
            a(href="#").btn.btn-red
                | more about us