section.section-get-started
    .section-get-started__wrapper
        .section-get-started__wrapper__content
            | Get Started on Buying Your <b>New Home</b>
            a(href="#").btn.btn-red
                | more about us