header.main-header
    .main-header__logo-block
        a(href="/index.html").main-header__logo-block__logo-link
            img(src="img/logo-header.png", alt="Logotype").main-header__logo-block__logo-link__img
    nav.main-nav
        ul.main-nav__nav-list
            li.main-nav__list__item
                a(href="#").main-nav__list__item__link
                | Home
            li.main-nav__list__item
                a(href="#").main-nav__list__item__link
                | About us
            li.main-nav__list__item
                a(href="#").main-nav__list__item__link
                | Property
            li.main-nav__list__item
                a(href="#").main-nav__list__item__link
                | Our Blog
            li.main-nav__list__item
                a(href="#").main-nav__list__item__link
                | Contacts
    .main-header__social-wrap
        ul.social-list
            li.social-list__item
                a(href="#").social-list__item__link
                    i.fa.fa-vk.social-list__item__link__icon
            li.social-list__item
                a(href="#").social-list__item__link
                    i.fa.fa-facebook.social-list__item__link__icon
            li.social-list__item
                a(href="#").social-list__item__link
                    i.fa.fa-instagram.social-list__item__link__icon
            li.social-list__item
                a(href="#").social-list__item__link
                    i.fa.fa-google-plus.social-list__item__link__icon