.sidebar-container
    .sidebar-container__item
        .sidebar-container__item__title
            | Categories
        .sidebar-container__item__content
            ul.sidebar-categories-list
                li.sidebar-categories-list__item
                    a(href="#").sidebar-categories-list__item__link
                        | Art Direction
                li.sidebar-categories-list__item
                    a(href="#").sidebar-categories-list__item__link
                        | Digital Photography
                li.sidebar-categories-list__item
                    a(href="#").sidebar-categories-list__item__link
                        | Information Architecture
                li.sidebar-categories-list__item
                    a(href="#").sidebar-categories-list__item__link
                        | Interior Design
                li.sidebar-categories-list__item
                    a(href="#").sidebar-categories-list__item__link
                        | Motion Graphics
                li.sidebar-categories-list__item
                    a(href="#").sidebar-categories-list__item__link
                        | Photoshop Tools
                li.sidebar-categories-list__item
                    a(href="#").sidebar-categories-list__item__link
                        | Web Design

    .sidebar-container__item
        .sidebar-container__item__title
            | Archives
        .sidebar-container__item__content
            ul.sidebar-archives-list
                li.sidebar-archives-list__item
                    a(href="#").sidebar-archives-list__item__link
                        | May 2014
                li.sidebar-archives-list__item
                    a(href="#").sidebar-archives-list__item__link
                        | March 2013
                li.sidebar-archives-list__item
                    a(href="#").sidebar-archives-list__item__link
                        | February 2013
                li.sidebar-archives-list__item
                    a(href="#").sidebar-archives-list__item__link
                        | January 2013
                li.sidebar-archives-list__item
                    a(href="#").sidebar-archives-list__item__link
                        | December 2012
                li.sidebar-archives-list__item
                    a(href="#").sidebar-archives-list__item__link
                        | May 2012
                li.sidebar-archives-list__item
                    a(href="#").sidebar-archives-list__item__link
                        | October 2010

    .sidebar-container__item
        .sidebar-container__item__title
            | Recent Posts
        .sidebar-container__item__content
            .recent-post-list
                .recent-post-list__item
                    .recent-post-list__item__title-post
                        a(href="#").recent-post-list__item__title-post__link
                            | Aliquam erat volutpat
                    .recent-post-list__item__text-post
                        p
                            | Proin umcorper urna et felisstibulum
                            | iaculis lacinia est. Proin dictum elem
                            | entum velit fusce euismod. Aenean commodo
                            | ligula eget dolor. Proin dictum elem entum
                            | velit fusce.
                    .recent-post-list__item__date-post
                        | May 27, 2014
                .recent-post-list__item
                    .recent-post-list__item__title-post
                        a(href="#").recent-post-list__item__title-post__link
                            | Mauris posuere
                    .recent-post-list__item__text-post
                        p
                            | Proin umcorper urna et felisstibulum
                            | iaculis lacinia est. Proin dictum elem
                            | entum velit fusce euismod. Aenean commodo
                            | ligula eget dolor. Proin dictum elem entum
                            | velit fusce.
                    .recent-post-list__item__date-post
                        | May 27, 2014
