@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans/notosans-regular-webfont.woff2') format('woff2'),
  url('../fonts/notosans/notosans-regular-webfont.woff') format('woff'),
  url('../fonts//notosans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans/notosans-bold-webfont.woff2') format('woff2'),
  url('../fonts/notosans/notosans-bold-webfont.woff') format('woff'),
  url('../fonts/notosans/notosans-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans/notosans-italic-webfont.woff2') format('woff2'),
  url('../fonts/notosans/notosans-italic-webfont.woff') format('woff'),
  url('../fonts/notosans/notosans-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* --- */

@font-face {
  font-family: 'Noto Serif';
  src: url('../fonts/notoserif/notoserif-bold-webfont.woff2') format('woff2'),
  url('../fonts/notoserif/notoserif-bold-webfont.woff') format('woff'),
  url('../fonts/notoserif/notoserif-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url('../fonts/notoserif/notoserif-italic-webfont.woff2') format('woff2'),
  url('../fonts/notoserif/notoserif-italic-webfont.woff') format('woff'),
  url('../fonts/notoserif/notoserif-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Noto Serif';
  src: url('../fonts/notoserif/notoserif-regular-webfont.woff2') format('woff2'),
  url('../fonts/notoserif/notoserif-regular-webfont.woff') format('woff'),
  url('../fonts/notoserif/notoserif-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfairdisplay/playfairdisplay-bold-webfont.woff2') format('woff2'),
  url('../fonts/playfairdisplay/playfairdisplay-bold-webfont.woff') format('woff'),
  url('../fonts/playfairdisplay/playfairdisplay-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfairdisplay/playfairdisplay-italic-webfont.woff2') format('woff2'),
  url('../fonts/playfairdisplay/playfairdisplay-italic-webfont.woff') format('woff'),
  url('../fonts/playfairdisplay/playfairdisplay-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfairdisplay/playfairdisplay-regular-webfont.woff2') format('woff2'),
  url('../fonts/playfairdisplay/playfairdisplay-regular-webfont.woff') format('woff'),
  url('../fonts/playfairdisplay/playfairdisplay-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}